<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <b>**YOU HAVE AS MANY HOURS IN THE DAY AS BEYONC&#201</b>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Short description of Product</h1>
			<p>It's difficult to change a flaw. Psycologists say that it takes 28 days of consistent behavior to change a habit. How can you effectively track and reinforce a 28-day change and become flawless like Beyonce?
			</p>	
		</div>
    <button>Sign Up</button>
	</div>
</div>


