<div class="container">
  <center>
<img src="/images/beyonce_3.jpg"></i>
  </center>
  <center>
<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">QUOTES</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
<!--       <h1>MOTIVATIONAL QUOTES</h1> -->
      <p class="modal-intro">
        <%= @motivation_quote.first['quote'] %>
      </p>
    </div>
  </div>
</div>
<!-- <iframe src="//giphy.com/embed/I6gRKWg7phEly" width="480" height="421" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><iframe src="//giphy.com/embed/fPKavkCyl9vOw" width="480" height="228" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><iframe src="//giphy.com/embed/SHlDG8YSEnBmg" width="480" height="421" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
<div class="links">
  <button>
  <%= link_to 'Back', todo_lists_path %>
  </button>
</div>
</center>
