
<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
	<%= f.text_field :content, placeholder: "New Task" %>
	
	<%= f.submit 'Create Task'%>

<% end %>
</br>
</br>
</br>
	<div class="motivation-button">
		<button>
			<a href="/motivation">MOTIVATION</a>
		</button>
	</div>
	</br>