.signin-form {
	margin: 100px auto;
  width: 100px;
  text-align: center;
  color: $base-font-color;;
}

  .signin-user {
      text-align: center;
      font-family: $base-font-family;
      color: $base-font-color;
      margin-bottom: 2em;
    }

    .form-control {
      max-width: 30%;
      margin-left: auto;
      margin-rigt: auto;
      display: block;
      margin: 0 auto;
      margin-bottom: 2em;
      color: $base-font-color;
    }

   /* button {
     @include button(flat, black);
      border-radius: 3px;
      border: 0;
      color: white;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      text-decoration: none;
      margin: 0 10px 0px 10px;
      display: inline;
      float: center;
    }*/