.signin-form {
	margin: 100px auto;
  width: 100px;
  text-align: center;
  color: $base-font-color;;
}

  .signin-user {
      text-align: center;
      font-family: $base-font-family;
      color: $base-font-color;
      margin-bottom: 2em;
    }

    .form-control {
      max-width: 40%;
      display: block;
      margin-left: 0px;
      margin-bottom: 2em;
      color: $base-font-color;
    }

  