.new_user {
	margin: 100px auto;
  text-align: center;
  color: black;
}
    .form-control {
      max-width: 40%;
      margin-left: auto;
      margin-rigt: auto;
      display: block;
      margin: 0 auto;
      margin-bottom: 2em;
      color: $base-font-color;
    }

    .user-signin {
      @include button(flat, black);
      padding: 0.7em 1em;
      margin: 0 10px 0px 10px;
      float: center;
    }

