input[type="submit"] {
  background-color: black;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  background-color: black;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  padding: 0.7em 1em;
  margin: 0 10px 0px 10px;
  display: inline;
  float: right;
}

