// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#notice {
  text-align: center;
  font-size: 1em;
  color: #f4c0d7;
  font-weight: 100;
}

.todo_container {
  width: 50%;
  max-width: 750px;
  background: $white_opaque;
  margin: 3em auto 0 auto;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
  box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
  padding: 1em 0;
}

.todo_list_title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: black;
  margin: 0;
  a {
    text-decoration: none;
    color: gray;
    transition: all .4s ease-in-out;
    &:hover {
      opacity: 0.4;
    }
  }
}

.todo_list_sub_title {
  margin: 0 0 3em 0;
  text-align: center;
  font-size: 1.2em;
  color: black;
  font-weight: 100;
}

.index_row {
  padding: 2em;
  border-bottom: 1px solid rgba(250,250,250, .3);
  .todo_list_sub_title {
    margin-bottom: 0;
  }
}

#todo_items_wrapper {
  .row {
    width: 100%;
    border-top: 1px solid rgba(250,250,250, .3);
    border-bottom: 1px solid rgba(250,250,250, .3);
    .complete {
      width: 10%;
      float: left;
      text-align: center;
      border-right: 1px solid rgba(250,250,250, .3);
      padding: 1em 0;
    }
    .todo_item {
      width: 80%;
      float: left;
      p {
        margin: 0;
        padding: 1em;
        color: gray;
        font-weight: 100;
      }
    }
    .trash {
      width: 10%;
      float: left;
      text-align: center;
      border-left: 1px solid rgba(250,250,250, .3);
      padding: 1em 0;
    }
    i {
      color: gray;
      transition: all .4s ease-in-out;
      &:hover {
        color: #f4c0d7;
      }
    }
  }
  #form {
    margin-top: 2em;
    padding: 0 5%;
    input[type="text"] {
      width: 65%;
      margin-right: 2%;
      display: inline-block;
      outline: none;
      background: rgba(250,250,250,.4);
      border: none;
      height: 40px;
      border-radius: 4px;
      padding: 1em 2em;
      margin: 0 10px 0 20px;
    }

    input[type="submit"] {
      background: black;
      outline: none;
      border: none;
      height: 40px;
      font-size: inherit;
      font-weight: bold;
      border-radius: 4px;
      text-decoration: none;
      margin: 0 10px 0px 10px;
      width: 25%;
      display: inline-block;
      transition: all .4s ease-in-out;
      cursor: pointer;
      &:hover {
        background: #f4c0d7;
      }
    }

    ::-webkit-input-placeholder { color: gray; }
  }
}

.links {
  display: block;
  margin: 3em auto 0 auto;
  text-align: center;
  font-size: 0.8em;
  color: white;
  a {
    color: white;
  }
}

.forms {
  padding: 0 5%;
}
label {
  padding: 1em;
  color: gray;
}
input[type="text"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250,250,250,.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}
textarea {
  height: 200px;
}
/*input[type="submit"] {
  background: black;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 4px;
  margin: 0 auto;
  width: 25%;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  color: white;
  &:hover {
    background: white;
    color: white;
  }
}*/
::-webkit-input-placeholder { color: black; }

.progress-bar {
  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-height: 30px;

  background-color: $progress-background;
  border: $progress-border;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  border-radius: $base-border-radius;
  height: $progress-height;
  margin: 0 auto;
  padding: 2px;
  width: 80%;

  > span.meter {
    @include animation(progress $progress-animation-duration linear infinite);
    @include box-sizing(border-box);
    background-color: $progress-meter-color;
    @include background-image(linear-gradient(-45deg, rgba(255,255,255, 0.15) 25%,
                                                      transparent 25%,
                                                      transparent 50%,
                                                      rgba(255,255,255, 0.15) 50%,
                                                      rgba(255,255,255, 0.15) 75%,
                                                      transparent 75%));
    background-size: 40px 40px;
    background-repeat: repeat-x;
    border: $progress-meter-border;
    border-radius: $base-border-radius / 1.5;
    display: block;
    height: 100%;
    width: 60%;
  }
}

@-webkit-keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

@-moz-keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

@-ms-keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

@-o-keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

@keyframes progress {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 40px 0px;
  }
}

//ERROR MESSAGES

$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

.forms {
  text-align: center;
}

.text-center {
  text-align: center;
  font-size: 2em;
  color: black;
}

.goals-center {
  text-align: center;
  font-size: 1.5em;
  color: black;
}

.goals-list {
  text-align: center;
  a {
    color: gray;
    text-decoration: none;
    transition: color 0.1s linear;

    &:active,
    &:focus,
    &:hover {
    color: #f4c0d7;
    }
  }
}

.motivation-button {
  text-align: center;
  color: white;
  &:hover {
    background: white;
    color: white;
  }
}

.edit_user {
  text-align: left;
  margin: 0 auto;
}

.form-control {
  text-align: left;
  margin: 0 auto;
}